Repository zhranklin/istio, changes with the owners that CODEOWNERS names for each.
All owners: @geeknoid, @linsun, @rshriram, @howardjohn, @istio/wg-test-and-release-maintainers, @istio/wg-config-maintainers, @istio/wg-environments-maintainers, @istio/wg-user-experience-maintainers, @istio/wg-policies-and-telemetry-maintainers, @istio/wg-networking-maintainers, @istio/wg-security-maintainers, @istio/wg-networking-maintainers-pilot, @istio/wg-docs-maintainers

open use_remote_address in mapping port
  pilot/pkg/networking/core/v1alpha3/listener.go
Owners: @istio/wg-networking-maintainers-pilot

Ehance: add accesslog in port mapping listener
  pilot/pkg/networking/core/v1alpha3/listener.go
Owners: @istio/wg-networking-maintainers-pilot

Fix: 修改gloo全匹配正则
  vendor/github.com/solo-io/gloo/projects/gloo/pkg/plugins/utils/transformation/extractors.go
Owners: @geeknoid, @linsun, @rshriram, @howardjohn

Fix: 修改gloo全匹配正则
  vendor/github.com/solo-io/gloo/projects/gloo/pkg/plugins/utils/transformation/extractors.go
Owners: @geeknoid, @linsun, @rshriram, @howardjohn

Fix: Default Passthrough
  pilot/pkg/networking/plugin/extension/transform/transformation.go
Owners: @istio/wg-networking-maintainers

enable accesslog in gateway proxy
  pilot/pkg/networking/core/v1alpha3/listener.go
Owners: @istio/wg-networking-maintainers-pilot

Enhance: gateway accesslog
  pilot/pkg/networking/core/v1alpha3/listener.go
Owners: @istio/wg-networking-maintainers-pilot

version fix
  bin/get_workspace_status.sh
Owners: @istio/wg-test-and-release-maintainers

update deploy
  deploy.sh
Owners: @geeknoid, @linsun, @rshriram, @howardjohn

Fix: version fix
  bin/get_workspace_status.sh
Owners: @istio/wg-test-and-release-maintainers

enable fault & cors
  pilot/pkg/networking/core/v1alpha3/listener.go
Owners: @istio/wg-networking-maintainers-pilot

temp
  .cicd/nos/Dockerfile
  .cicd/nos/nos-yq-online-cmd-java.tar.gz
  gitlab-ci.yml
  pilot/cmd/pilot-discovery/main.go
  pilot/cmd/pilot-discovery/qzdiff.go
  pilot/cmd/pilot-discovery/qzmesh.go
  pilot/pkg/bootstrap/qzdiff.go
  pilot/pkg/bootstrap/qzmesh.go
  pilot/pkg/bootstrap/server.go
  pilot/pkg/model/context.go
  pilot/pkg/networking/core/v1alpha3/listener.go
  pilot/pkg/networking/core/v1alpha3/qzmesh.go
  vendor/istio.io/api/networking/v1alpha3/gateway_plugin.pb.go
  vendor/istio.io/api/networking/v1alpha3/gateway_plugin.pb.html
  vendor/istio.io/api/networking/v1alpha3/gateway_plugin.proto
Owners: @geeknoid, @linsun, @rshriram, @howardjohn, @istio/wg-networking-maintainers, @istio/wg-networking-maintainers-pilot

[mesh] add portmapping listener
  pilot/cmd/pilot-discovery/qzmesh.go
  pilot/pkg/bootstrap/qzmesh.go
  pilot/pkg/bootstrap/server.go
  pilot/pkg/model/context.go
  pilot/pkg/networking/core/v1alpha3/listener.go
  pilot/pkg/networking/core/v1alpha3/qzmesh.go
Owners: @istio/wg-networking-maintainers, @istio/wg-networking-maintainers-pilot

deploy script
  deploy.sh
Owners: @geeknoid, @linsun, @rshriram, @howardjohn

Fix: build default listener
  pilot/pkg/networking/core/v1alpha3/listener.go
Owners: @istio/wg-networking-maintainers-pilot

Fix: accessLog
  pilot/pkg/networking/core/v1alpha3/networkfilter.go
  pilot/pkg/networking/core/v1alpha3/qzmesh.go
Owners: @istio/wg-networking-maintainers-pilot

Enhance: [yanxuan] 1.增加服务识别头 2.支持特殊前后缀调用方式
  pilot/pkg/networking/core/v1alpha3/httproute.go
  pilot/pkg/networking/core/v1alpha3/listener.go
  pilot/pkg/networking/core/v1alpha3/qzmesh.go
Owners: @istio/wg-networking-maintainers-pilot

Fix: 后缀形式的domain不加入端口
  pilot/pkg/networking/core/v1alpha3/qzmesh.go
Owners: @istio/wg-networking-maintainers-pilot

去掉to_egress
  pilot/pkg/networking/core/v1alpha3/httproute.go
Owners: @istio/wg-networking-maintainers-pilot

enable yxadapter in default port
  pilot/pkg/networking/core/v1alpha3/listener.go
  pilot/pkg/networking/core/v1alpha3/qzmesh.go
Owners: @istio/wg-networking-maintainers-pilot

Fix: yx-adapter在filter chain中的位置
  pilot/pkg/networking/core/v1alpha3/httproute.go
  pilot/pkg/networking/core/v1alpha3/qzmesh.go
Owners: @istio/wg-networking-maintainers-pilot

Enhance: enable mixer in default port
  pilot/pkg/networking/core/v1alpha3/listener.go
  pilot/pkg/networking/core/v1alpha3/qzmesh.go
Owners: @istio/wg-networking-maintainers-pilot

temp
  pilot/pkg/model/push_context.go
  pilot/pkg/proxy/envoy/v2/discovery.go
  pilot/pkg/proxy/envoy/v2/eds.go
  pilot/pkg/proxy/envoy/v2/mem.go
  pilot/pkg/serviceregistry/external/servicediscovery.go
Owners: @istio/wg-networking-maintainers-pilot

修改下发给mixer的namespace的规则
  pilot/pkg/networking/plugin/mixer/mixer.go
Owners: @istio/wg-policies-and-telemetry-maintainers

兜底路由
  pilot/pkg/networking/core/v1alpha3/httproute.go
  pilot/pkg/networking/core/v1alpha3/qzmesh.go
Owners: @istio/wg-networking-maintainers-pilot

clean code
  pilot/pkg/model/push_context.go
  pilot/pkg/networking/core/v1alpha3/httproute.go
  pilot/pkg/proxy/envoy/v2/discovery.go
  pilot/pkg/proxy/envoy/v2/eds.go
  pilot/pkg/proxy/envoy/v2/mem.go
  pilot/pkg/serviceregistry/external/servicediscovery.go
Owners: @istio/wg-networking-maintainers-pilot

Fix: ServiceEntry instance deletion does not work
  pilot/pkg/proxy/envoy/v2/eds.go
Owners: @istio/wg-networking-maintainers-pilot

upgrade svm and injector to 1.3.5
  galley/pkg/metadata/types.gen.go
  install/kubernetes/helm/istio-init/files/crd-10.yaml
  pilot/cmd/sidecar-injector/main.go
  pilot/cmd/version-manager/main.go
  pilot/docker/Dockerfile.version_manager
  pilot/pkg/config/kube/crd/types.go
  pilot/pkg/kube/inject/inject.go
  pilot/pkg/kube/inject/webhook.go
  pilot/pkg/kube/version/client.go
  pilot/pkg/kube/version/convert.go
  pilot/pkg/kube/version/handler.go
  pilot/pkg/kube/version/queue.go
  pilot/pkg/kube/version/select.go
  pilot/pkg/kube/version/server.go
  pilot/pkg/kube/version/vmclient.go
  pilot/pkg/model/config.go
  pkg/config/validation/validation.go
  vendor/istio.io/api/networking/v1alpha3/version_manager.pb.go
  vendor/istio.io/api/networking/v1alpha3/version_manager.proto
Owners: @istio/wg-config-maintainers, @istio/wg-environments-maintainers, @istio/wg-networking-maintainers, @istio/wg-networking-maintainers-pilot, @geeknoid, @linsun, @rshriram, @howardjohn

Fix: add SourceExternal & XYAPP header
  pilot/pkg/networking/core/v1alpha3/httproute.go
  pilot/pkg/networking/core/v1alpha3/route/route.go
Owners: @istio/wg-networking-maintainers-pilot

mixer支持deploy名字中带点
  mixer/adapter/kubernetesenv/kubernetesenv.go
Owners: @istio/wg-policies-and-telemetry-maintainers

Fix a group of mixer attributes generated from k8s env such as source/destination's name, owner, namespace when dot in pod name
  mixer/adapter/kubernetesenv/kubernetesenv.go
Owners: @istio/wg-policies-and-telemetry-maintainers

CODEOWNERS:

*                                                                @geeknoid @linsun @rshriram @howardjohn
/bin/                                                            @istio/wg-test-and-release-maintainers
/galley/                                                         @istio/wg-config-maintainers
/install/                                                        @istio/wg-environments-maintainers
/istioctl/                                                       @istio/wg-user-experience-maintainers
/mixer/                                                          @istio/wg-policies-and-telemetry-maintainers
/pilot/                                                          @istio/wg-networking-maintainers
/pilot/pkg/security/                                             @istio/wg-security-maintainers
/pilot/pkg/config/                                               @istio/wg-config-maintainers @istio/wg-networking-maintainers
/pilot/pkg/networking/plugin/authn/                              @istio/wg-security-maintainers
/pilot/pkg/networking/plugin/authz/                              @istio/wg-security-maintainers
/pilot/pkg/networking/plugin/mixer/                              @istio/wg-policies-and-telemetry-maintainers
/pilot/pkg/config/                                               @istio/wg-networking-maintainers-pilot
/pilot/pkg/serviceregistry/                                      @istio/wg-networking-maintainers-pilot
/pilot/pkg/model/                                                @istio/wg-networking-maintainers-pilot
/pilot/pkg/networking/core                                       @istio/wg-networking-maintainers-pilot
/pilot/pkg/proxy                                                 @istio/wg-networking-maintainers-pilot
/pkg/bootstrap/                                                  @istio/wg-environments-maintainers
/pkg/mcp/                                                        @istio/wg-config-maintainers
/prow/                                                           @istio/wg-test-and-release-maintainers
/release/                                                        @istio/wg-test-and-release-maintainers
/samples/                                                        @istio/wg-docs-maintainers
/security/                                                       @istio/wg-security-maintainers
/tests/                                                          @istio/wg-test-and-release-maintainers
/tests/e2e/local/                                                @istio/wg-test-and-release-maintainers
/tests/e2e/tests/mixer/                                          @istio/wg-policies-and-telemetry-maintainers
/tests/e2e/tests/pilot/                                          @istio/wg-networking-maintainers
/tests/integration/conformance/                                  @istio/wg-test-and-release-maintainers
/tests/integration/framework/                                    @istio/wg-test-and-release-maintainers
/tests/integration/galley/                                       @istio/wg-config-maintainers
/tests/integration/mixer/                                        @istio/wg-policies-and-telemetry-maintainers
/tests/integration/telemetry/                                    @istio/wg-policies-and-telemetry-maintainers
/tests/integration/pilot/                                        @istio/wg-networking-maintainers
/tests/integration/qualification/                                @istio/wg-test-and-release-maintainers
/tests/integration/security/                                     @istio/wg-security-maintainers
/tests/istio.io/                                                 @istio/wg-docs-maintainers
/tools/                                                          @istio/wg-test-and-release-maintainers
/tools/istio-iptables/                                           @istio/wg-networking-maintainers
/tools/packaging/common/istio-iptables.sh                        @istio/wg-networking-maintainers
